/*Color de los laterales */

body {
    background-color: #f6edaa;
}


/*Color del centro*/

.container {
    background-color: #ffffe0;
}

p {
    font-family: Arial;
}


/*Color del texto*/

.card-text-l {
    background-color: #f8efe0;
}

.card-text-r {
    background-color: #f8efe0;
}

.col {
    background-color: #f8efe0;
}

.nav {
    background-color: #e88a37;
}

.nav-link {
    font-size: 19px;
    font-family: Arial;
    color: white;
}

footer {
    background-color: #e88a37;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    line-height: 2;
}