.container {
    margin-left: 50px;
    padding: 10px;
}

.container p {
    font-size: 15px;
    font-weight: 30px;
}

.lab {
    font-size: 1.0rem;
    color: red;
    font-weight: 900;
    padding-right: 20px;
}

.card {
    width: 500px;
}

.card-image {
    width: 500px;
    height: auto;
}

#search {
    margin-top: 1.5rem;
    width: 500px;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid black;
    border-top: none;
    height: 1.5rem;
    outline: none;
}