body {
    background-color: #f6edaa;
    font-family: Arial;
    margin: 0;
    padding: 20px;
}

header {
    background-color: black;
}

.nav {
    background-color: #e88a37;
}

.nav-link {
    font-size: 19px;
    font-family: Arial;
    color: white;
}

h1 {
    color: black;
}

.container {
    background-color: black;
}

footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    line-height: 2;
}